* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x:hidden;
}
.navbar{
    margin: 10px 0px;
    display: flex;
    justify-content:space-around;
    font-size: larger;
    width: 100%;
    padding: 0 2rem;

}
.logo{
    width:90px;
}
.navcategory{
    font-size:smaller;
}
.navsearch{
    border: 1px solid black;
    border-radius: 32px;
    width: 35rem;
    height: 2.8rem;
    background-color: whitesmoke;
}
.navbusiness{
    font-size:small;
}
.teachudemy{
    font-size:small;
}
.login__button{
    border: 1px solid black;
    width: 80px;
    height: 42px;
    background-color: white;
    font-weight: bolder;
    font-size: smaller;
}
.signin__button{
    border: 1px solid black;
    width: 80px;
    height: 42px;
    background-color: black;
    font-weight: bolder;
    color: white;
    font-size:small;
}
.globe__button{
    border: 1px solid black;
    height: 40px;
    width: 40px;
    background-color: white;
}
.first-section{
    display:flex;
    position:relative;
}
.headings{
    width:33vw;
    height: 11vw;
    position:absolute;
    top:50px;
    left: 90px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    padding: 2.4rem 2.5rem 0 1.4rem;
    background-color: white;
    margin-left: 30px;
    line-height: 20px;
}
.main-headings{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.sub-headings{
    font-family: sans-serif;
    width:28rem;
}
.background{
    object-fit: contain;
    justify-content: center;
    border-top-style: outset;
    border-top-color: rgba(225, 220, 220, 0.983);
    border-image-outset: 20px;
    width: 100%;
    height: auto;
    object-position:initial;
}
.head-sec-section{
    padding: 2rem;
}
.cart{
    width:30px;
}
.globe{
    width:22px;
    margin-right: 5px;
}
.second-section h2{
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: bold;
     margin: 1rem 0;
}
.second-section h4{
    margin: 1rem 0;
}
.courses-nav{
    display: flex;
    justify-content: space-between;
    width: 60%;
    list-style-type: none;
    font-size: large;
    font-weight: bold;
}
.courses-selection{
    Margin: 0px 30px;
    border: 1px solid rgb(180, 179, 179);
    padding: 20px 0px 20px 50px;
}
.courses-selection-header{
    font-weight: bold;
}
.explore-python-button{
    border: 1px solid black;
    width: 130px;
    height: 45px;
    background-color: white;
    font-weight: bold;
    
}
.python-images{
    margin: 40px 20px 10px 3px;
    display: flex;
    justify-content: space-between;
}
.python-link{
    width: 220px;
}
.third-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    padding:1.5rem 6rem;
    background-color: whitesmoke;
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
}
.student-viewing{
    margin: 5rem 2.5rem;
}
.views-images{
    margin: 20px 20px 10px 3px;
    display: flex;
    justify-content: space-between;
}
.fifth-section{
    background-color: whitesmoke;
    padding: 4rem 0rem;
}
.featured-topics{
    margin-left: 2.5rem;
    line-height: 3rem;
}
.featured-header h4{
    font-weight: bolder;
    margin-bottom: 1rem;
}
th{
    font-size: large;
}
td{
    width: 30rem;
    font-weight: 650;
}
.student-figures{
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(142, 139, 139);
}
.bestseller{
    background-color:rgb(234, 203, 124);
    font-size: small;
    font-weight: lighter;
}
.explore-more-button{
    border: 1px solid black;
    width: 140px;
    height: 30px;
    background-color: white;
    background-color: white;
    font-size: small;
    font-weight: bolder;
    padding-bottom: 3rem;
}
.sixth-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.sixthsec-image img{
    width:30rem;
    padding: 4rem;
}
.sixthsec-text h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 2rem;   
}
.sixthsec-subtext{
    width: 40rem;
}
.instructor-button{
    width: 200px;
    height: 8px;
    background-color: black;
    font-weight: bold;
    color: white;
    padding-bottom: 2rem;
    margin-top: 1rem;
}
.seventh-section{
    background-color: whitesmoke;
    width: 100%;
}
.seventh-text{
    text-align: center;
}
.seventh-text h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    padding: 3rem 0rem 0rem;
}
.seventh-img{
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
}
.img1{
    width: 9rem;
}
.img2{
    width: 4rem;
}
.img3{
    width: 5rem;
}
.img4{
    width: 8rem;
}
.img5{
    width: 8rem;
}
.img6{
    width: 8rem;
}
.eight-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
}
.eightsec-image img{
    width:50rem;
    padding: 4rem;
}
.eightsec-text h1{
    color:rgb(167, 91, 238);
    font-family: 'arial narrow';
}
.eightsec-subtext{
    width: 26rem;
    line-height: 3rem;
}
.getudemy-button{
    width: 200px;
    height: 5px;
    background-color: black;
    font-weight: bold;
    color: white;
    padding-bottom: 3rem;
    margin-top: 2rem;
}
.ninth-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    line-height: 5rem;

}
.ninthsec-image img{
    width:32rem;
    padding: 4rem;
}
.ninthsec-text h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width:450px;
    margin-bottom: 1.8rem;

}
.ninthsec-subtext{
    width: 35rem;
}
.findout-button{
    width: 180px;
    height: 5px;
    background-color: black;
    font-weight: bold;
    color: white;
    padding-bottom: 4rem;

    
}
.last-section{
    width: 100%;
    background-color: rgb(29, 27, 27);
    color:white;
}
.top{
    padding: 2rem 4rem;
    line-height: 1.8rem;
    display: flex;
    justify-content: space-between;
}
.top-text{
    width:70%;
}
.globe__button2{
    color: white;
    border: 1px solid white;
    background-color:  rgb(29, 27, 27);
    width: 150px;
    padding: 0.5rem 0;
    font-size: large;
}
.bottom{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 3rem;
}
.f-logo{
    width: 90px;
    z-index:10;
}
